<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Your CD Collection</title>
    </head>
    <body>
    <h1>You added a CD to your Collection!</h1>
      <div class="container">
        <div class="well">
          <img src="{{new_cd.image}}" alt="{{new_cd.artist}}" /><br>
          <span class="artist">{{new_cd.artist}}</span><br>
          <span class="price">${{new_cd.price}}</span>
        </div>
      </div>
    </body>


</html>
